.sex-rel {
    float: right !important;
    margin: -40px 40px 0 0 !important;
    color: red !important;
}
.progeny_rel {
    list-style: none;
}
.progeny_rel .row-fluid > .progeny-box,
.progeny_rel .row > .progeny-box {
    margin: 20px 0 10px;
}
.parent-progeny {
    background: #e9e9e9 !important;
}
.progeny-list li {
    margin-left: 9.638297872340425%;
    list-style: none;
}
.pdb-media-left {
    float: left;
    margin: 12px;
}
.pdb-media-left img {
    border: 1px solid silver;
    padding: 1px;
}
.progeny-box {
    background: #fff;
    margin-bottom: 4px;
    -moz-box-shadow: gray 2px 2px 4px;
    -webkit-box-shadow: gray 2px 2px 4px;
    box-shadow: gray 2px 2px 4px;
}
.main-heading {
    background-color: #f7ac94;
    font-size: 30px;
    padding: 10px 20px;
}
#detail {
    background-color: #ffc9b8;
    border-radius: 12px;
    padding: 20px 10px;
    line-height: 30px;
    height: 350px;
}
#detail strong {
    padding-left: 15px;
}
.content-heading {
    font-size: 20px;
}
.bg-footer {
    background-color: #f7ac94;
    padding-left: 10px;
}
.bg2-color {
    background-color: #ffc9b8;
    line-height: 60px;
    padding: 0 20px;
    border-left: 5px solid #fff;
}
td.sire {
    background-color: #f8f8fe;
    vertical-align: middle;
    padding: 0 8px;
}
td.dam {
    background-color: #ffc9b8;
    vertical-align: middle;
    padding: 0 8px;
}
.dog-prefix {
    color: gray;
}
.breeded {
    color: red;
}
.one-liner {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.pedigree .generation_depth span {
    display: block;
    width: 230px;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin-left: 110px;
    font-weight: 700;
}
.pedigree .generation_depth span:first-child {
    margin-left: 0;
}
.pedigree .generation_depth span:after {
    content: "";
    background: url(depth_shadow.png);
    width: 230px;
    height: 2px;
    position: relative;
    bottom: -2px;
    display: block;
}
.pedigree .animalBox {
    background: #fff;
    border: 1px solid #c6c6c6;
    width: 300px;
    position: relative;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
}
.pedigree .animalBox .movieSymbol {
    content: "";
    position: absolute;
    z-index: 1;
    background: url(movie.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    top: 5px;
    right: 5px;
}
.pedigree .animalBox div img.pedigreeMainPicture {
    display: block;
    margin: auto;
    border: 1px solid #c6c6c6;
}
.pedigree .animalBox ul {
    position: relative;
}
.pedigree .animalBox ul.male:after {
    background: url(male.png);
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}
.pedigree .animalBox ul.female:after {
    background: url(female.png);
    width: 13px;
    height: 20px;
    background-repeat: no-repeat;
}
.pedigree .animalBox ul.male:after,
.pedigree .animalBox ul.female:after {
    content: "";
    display: inline-block;
    bottom: -12px;
    right: -12px;
    position: absolute;
    z-index: 1;
}
.pedigree .animalBox ul li {
    position: relative;
    line-height: 17px;
    text-align: center;
    height: 15px;
}
.pedigree .animalBox ul li a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.pedigree .animalBox ul li input {
    width: 207px;
}
.pedigree .animalBox ul li.hidden span {
    display: none !important;
}
.pedigree .animalBox .inputWithAction {
    margin-left: 15px;
    margin-top: 10px;
}
.pedigree .animalBox .inputWithAction input {
    width: 209px;
}
.pedigree .animalBox .inputWithAction ~ ul > li:first-child {
    font-weight: 400;
}
.pedigree .line {
    position: relative;
    width: 961px;
    height: 363px;
}
.pedigree .generation {
    float: left;
}
.pedigree .gen1 {
    width: 310px;
}
.pedigree .gen1.editable .animalBox ul {
    height: 45px;
}
.pedigree .gen1 .animalBox {
    width: 259px;
    height: 267px;
    border-left: none;
    margin-top: 50px;
    left: -10px;
    -moz-box-shadow: gray 2px 2px 4px;
    -webkit-box-shadow: gray 2px 2px 4px;
    box-shadow: gray 2px 2px 4px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
}
.pedigree .gen1 .animalBox div:first-child {
    margin: 20px 0 0 15px;
    width: 215px;
    height: 140px;
}
.pedigree .gen1 .animalBox ul {
    margin-top: 8px;
    width: 240px;
    height: 82px;
}
.pedigree .gen1 .animalBox ul li a {
    max-width: 195px;
}
.pedigree .gen1 .animalBox ul span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 115px;
}
.pedigree .gen1 .animalBox:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -18px;
    background: url(gen1_leftborder.png);
    width: 21px;
    height: 278px;
}
.pedigree .gen1 .animalBox:after {
    content: "";
    background: url(gen1_from.png);
    width: 58px;
    height: 185px;
    position: absolute;
    top: 40px;
    right: -62px;
}
.pedigree .gen2 {
    width: 358px;
}
.pedigree .gen2 .animalBox {
    width: 295px;
    height: 153px;
    margin-top: 20px;
    -moz-box-shadow: gray 2px 2px 3px;
    -webkit-box-shadow: gray 2px 2px 3px;
    box-shadow: gray 2px 2px 3px;
    position: relative;
}
.pedigree .gen2 .animalBox div {
    margin-top: 5px;
    height: 70px;
}
.pedigree .gen2 .animalBox ul {
    margin: 5px auto;
    width: 270px;
    height: 60px;
}
.pedigree .gen2 .animalBox ul li a {
    max-width: 220px;
}
.pedigree .gen2 .animalBox ul span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 130px;
    display: inline-block;
}
.pedigree .gen2 .animalBox ul span.small {
    max-width: 75px;
}
.pedigree .gen2 .animalBox:after {
    content: "";
    background: url(gen2_from.png);
    width: 60px;
    height: 93px;
    position: absolute;
    top: 30px;
    right: -62px;
}
.pedigree .gen3 {
    width: 284px;
}
.pedigree .gen3 .animalBox {
    width: 284px;
    height: 69px;
    border-right: none;
    margin-top: 20px;
    -moz-box-shadow: gray 0 2px 3px;
    -webkit-box-shadow: gray 0 2px 3px;
    box-shadow: gray 0 2px 3px;
    position: relative;
}
.pedigree .gen3 .animalBox .movieSymbol {
    right: -16px !important;
}
.pedigree .gen3 .animalBox:nth-child(2n) {
    margin-top: 12px;
}
.pedigree .gen3 .animalBox div {
    float: left;
    margin: 10px;
    width: 65px;
    heigth: 47px;
}
.pedigree .gen3 .animalBox ul {
    float: left;
    margin-top: 5px;
    width: 199px;
    height: 45px;
}
.pedigree .gen3 .animalBox ul li:first-child a {
    font-weight: 700;
    max-width: 151px;
}
.pedigree .gen3 .animalBox ul span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 80px;
}
.pedigree .gen3 .animalBox ul span.max_width_110 {
    max-width: 110px;
}
.pedigree .gen3 .animalBox:after {
    content: "";
    background: url(gen3_rightborder.png);
    width: 24px;
    height: 79px;
    position: absolute;
    top: -1px;
    right: -21px;
}
.animalOverlay {
    position: absolute;
    display: none;
    z-index: 1;
}
#closeControl {
    position: relative;
    z-index: 100000;
}
#closePedigree {
    position: absolute;
    z-index: 10001;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    height: 25px;
    padding: 14px 0 2px;
    text-align: center;
    font-size: 17px;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    background: green url(bar_bg.png) 0 0 repeat-x;
    border-bottom: 1px solid green;
}
#closePedigree:hover {
    color: #000;
    text-decoration: none;
    background-color: #82a928;
    background-image: none;
    border-color: green;
}
#extended_pedigree_container {
    font-family: trebuchet ms;
    font-size: 11px;
    padding: 20px 20px 12px;
    margin: 0 0 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    position: relative;
    background-color: transparent;
    border: none;
    width: 1740px;
    margin-left: auto;
    margin-right: auto;
}
#extended_pedigree_container .generation_depth span {
    width: 240px;
    margin: auto auto auto 110px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}
#extended_pedigree_container .generation_depth span:first-child {
    margin-left: 0;
}
#extended_pedigree_container .generation_depth span:after {
    content: "";
    background: url(depth_shadow.png);
    width: 230px;
    height: 2px;
    position: relative;
    bottom: -2px;
    display: block;
}
#extended_pedigree_container .animalBox {
    background: #fff;
    border: 1px solid #c6c6c6;
    width: 300px;
    position: relative;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
    position: relative;
}
#extended_pedigree_container .animalBox .movieSymbol {
    content: "";
    position: absolute;
    z-index: 1;
    background: url(movie.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    top: 5px;
    right: 5px;
}
#extended_pedigree_container .animalBox div img {
    display: block;
    margin: auto;
    border: 1px solid #c6c6c6;
}
#extended_pedigree_container .animalBox ul {
    position: relative;
}
#extended_pedigree_container .animalBox ul li {
    line-height: 15px;
    min-height: 15px;
    text-align: center;
    color: #666;
}
#extended_pedigree_container .animalBox ul li:first-child {
    font-weight: 700;
}
#extended_pedigree_container .animalBox ul li input {
    width: 180px;
    margin-top: 5px;
}
#extended_pedigree_container .animalBox ul li span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#extended_pedigree_container .animalBox ul li.male a,
#extended_pedigree_container .animalBox ul li.female a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
#extended_pedigree_container .animalBox ul.maleIcon:after {
    content: "";
    display: inline-block;
    top: 0;
    right: 10px;
    position: absolute;
    background: url(male.png) no-repeat;
    width: 17px;
    height: 20px;
}
#extended_pedigree_container .animalBox ul.femaleIcon:after {
    content: "";
    display: inline-block;
    top: 0;
    right: 15px;
    position: absolute;
    background: url(female.png) no-repeat;
    width: 12px;
    height: 21px;
}
#extended_pedigree_container .animalBox .pedigreeOverlay {
    height: 100%;
}
#extended_pedigree_container .animalBox div:first-child {
    talign: center;
}
#extended_pedigree_container .pedigree_line {
    position: relative;
    min-width: 961px;
    margin-top: -12px;
    min-height: 490px;
}
#extended_pedigree_container .generation {
    float: left;
}
#extended_pedigree_container .generation.pedigree_gen1 {
    width: 341px;
    margin-left: 26px;
}
#extended_pedigree_container .generation.pedigree_gen1 .animalBox {
    width: 300px;
    height: 335px;
    margin-top: 87px;
    left: -10px;
    -moz-box-shadow: #343434 2px 2px 4px;
    -webkit-box-shadow: #343434 2px 2px 4px;
    box-shadow: #343434 2px 2px 4px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
    position: relative;
}
#extended_pedigree_container .generation.pedigree_gen1 .animalBox .pedigreeOverlay div {
    padding-top: 20px;
}
#extended_pedigree_container .generation.pedigree_gen1 .animalBox ul {
    margin-top: 20px;
}
#extended_pedigree_container .generation.pedigree_gen1 .animalBox li.male a,
#extended_pedigree_container .generation.pedigree_gen1 .animalBox li.female a {
    max-width: 240px;
}
#extended_pedigree_container .generation.pedigree_gen1 .animalBox:after {
    content: "";
    background: url(gen1_from.png) no-repeat;
    width: 46px;
    height: 250px;
    position: absolute;
    top: 40px;
    right: -50px;
}
#extended_pedigree_container .generation.pedigree_gen2 {
    width: 358px;
}
#extended_pedigree_container .generation.pedigree_gen2 .animalBox {
    width: 300px;
    height: 210px;
    margin-top: 20px;
    -moz-box-shadow: gray 2px 2px 3px;
    -webkit-box-shadow: gray 2px 2px 3px;
    box-shadow: gray 2px 2px 3px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
    position: relative;
}
#extended_pedigree_container .generation.pedigree_gen2 .animalBox .pedigreeOverlay div {
    padding-top: 15px;
}
#extended_pedigree_container .generation.pedigree_gen2 .animalBox ul {
    margin: 8px auto 0;
}
#extended_pedigree_container .generation.pedigree_gen2 .animalBox li.male a,
#extended_pedigree_container .generation.pedigree_gen2 .animalBox li.female a {
    max-width: 190px;
}
#extended_pedigree_container .generation.pedigree_gen2 .animalBox:after {
    content: "";
    background: url(gen2_from.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 116px;
    position: absolute;
    top: 45px;
    right: -63px;
}
#extended_pedigree_container .generation.pedigree_gen3 {
    width: 350px;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox {
    width: 300px;
    height: 98px;
    margin-top: 12px;
    -moz-box-shadow: gray 0 2px 3px;
    -webkit-box-shadow: gray 0 2px 3px;
    box-shadow: gray 0 2px 3px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
    position: relative;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox .pedigreeOverlay div {
    float: left;
    margin: 11px;
    width: 96px;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox ul {
    float: left;
    margin-top: 12px;
    width: 175px;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox ul li:nth-child(2) span {
    width: 147px !important;
    display: inline-block !important;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox ul.maleIcon:after {
    top: 15px;
    right: -2px;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox ul.femaleIcon:after {
    top: 15px;
    right: 0;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox li.male a,
#extended_pedigree_container .generation.pedigree_gen3 .animalBox li.female a {
    max-width: 140px;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox:after {
    content: "";
    background: url(gen3_from.png?v=1);
    height: 54px;
    position: absolute;
    right: -49px;
    top: 21px;
    width: 49px;
}
#extended_pedigree_container .generation.pedigree_gen3 .animalBox:first-child,
#extended_pedigree_container .generation.pedigree_gen3 .animalBox:nth-child(3) {
    margin-top: 20px;
}
#extended_pedigree_container .generation.pedigree_gen4 {
    width: 350px;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox {
    width: 293px;
    height: 51px;
    -moz-box-shadow: gray 0 2px 3px;
    -webkit-box-shadow: gray 0 2px 3px;
    box-shadow: gray 0 2px 3px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
    position: relative;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox .pedigreeOverlay div {
    float: left;
    margin: 3px;
    width: 61px;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox ul {
    float: left;
    margin-top: 4px;
    width: 199px;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox ul.maleIcon:after {
    top: 22px;
    right: -23px;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox ul.femaleIcon:after {
    top: 22px;
    right: -20px;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox li.male a,
#extended_pedigree_container .generation.pedigree_gen4 .animalBox li.female a {
    max-width: 165px;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox:after {
    content: "";
    background: url(gen4_from.png?v=1);
    height: 28px;
    position: absolute;
    right: -63px;
    top: 13px;
    width: 62px;
}
#extended_pedigree_container .generation.pedigree_gen4 .animalBox:first-child,
#extended_pedigree_container .generation.pedigree_gen4 .animalBox:nth-child(5) {
    margin-top: 20px;
}
#extended_pedigree_container .generation.pedigree_gen5 {
    width: 286px;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox {
    position: relative;
    width: 286px;
    height: 25px;
    -moz-box-shadow: gray 0 2px 3px;
    -webkit-box-shadow: gray 0 2px 3px;
    box-shadow: gray 0 2px 3px;
    behavior: url(/static/css/PIE.htc);
    position: relative;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox .movieSymbol {
    right: 28px !important;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox .pedigreeOverlay div {
    float: left;
    margin-left: 25px;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox div img {
    border: none;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox ul {
    float: left;
    width: 286px;
    margin-top: 4px;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox ul.maleIcon:after {
    right: 5px;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox ul.femaleIcon:after {
    right: 10px;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox li.male a,
#extended_pedigree_container .generation.pedigree_gen5 .animalBox li.female a {
    max-width: 220px;
}
#extended_pedigree_container .pedigree_gen3 .animalBox:nth-child(3),
#extended_pedigree_container .pedigree_gen3 .animalBox:nth-child(5),
#extended_pedigree_container .pedigree_gen3 .animalBox:nth-child(7) {
    margin-top: 20px !important;
}
#extended_pedigree_container .pedigree_gen4 .animalBox:nth-child(9),
#extended_pedigree_container .pedigree_gen4 .animalBox:nth-child(13) {
    margin-top: 20px;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox:first-child {
    margin-top: 20px;
}
#extended_pedigree_container .generation.pedigree_gen5 .animalBox:nth-child(9),
#extended_pedigree_container .generation.pedigree_gen5 .animalBox:nth-child(17),
#extended_pedigree_container .generation.pedigree_gen5 .animalBox:nth-child(25) {
    margin-top: 16px;
}
hr.style-two {
    border: 0 !important;
    height: 1px !important;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.style-two-red {
    border: 0 !important;
    height: 2px !important;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(240, 88, 88, 1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(240, 88, 88, 1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(240, 88, 88, 1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(240, 88, 88, 1), rgba(0, 0, 0, 0));
}
